.banner_1 {
  /*main heade/banner at the top of the screen*/
  background-color: red;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: left;
}

.banner_2 {
  /*second banner for buttons and the booking itself*/
  background-color: #ff0000;
  color: rgb(0, 0, 0);
  padding: 80px;
  text-align: center;
  border-radius: 15px;
}

label,
input,
button {
  /* Position of the buttons do not touch */
  margin: 10px 0;
}

button {
  /* Buttons settings */
  background-color: #400c33;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

ul {
  /*What keeps the buttons beside each other*/
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

li {
  /*Spacing between the buttons*/
  margin: 0 10px;
}

body {
  /*body is body*/
  background-color: #f1f1f1;
}

body {
  /*PLEASE I BEG DO NOT TOUCH IT TOOK MORE TIME THAN ALL OF THE CODE (Border thing)*/
  margin: 0;
  padding: 0;
}

.V-Line-1 {
  /*Line after "Flight Booking" in the first banner*/
  border-left: 6px solid rgb(2, 0, 139);
  height: 100px;
  object-position: middle;
  position: absolute;
  left: 26%;
  padding-bottom: 40px;
  top: -20px;
}

.Button_Top {
  /*Button postion on the screen 2.0*/
  position: absolute;
  top: 6.5%;
  left: 40%;
}
